<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <header>CADASTRO MORTIFERO</header>

    <main>
        <form>
            <label>Usuario</label>
            <input type="text" placeholder="cadastre seu nome de usuario">

            <label for="">Insira seu nome</label>
            <input type="text" placeholder="cadas seu nome">

            <label for="">Insira sua senha</label>
            <input type="text" placeholder="insira sua senha">

            <span>Ainda não tem uma conta? <a href="">fazer cadastro</a></span>
        </form>
    </main>
</body>
</html>