<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <header>PAGINA DE LOGIN SINISTRO</header>

    <main>
        <form action="/post/logar" method="POST">
    
            <label>Usuario</label>
            <input type="text" name="usuario" placeholder="insira seu nome de usuario">

            <label for="">Insira sua senha</label>
            <input type="password" name="senha" placeholder="insira sua senha">

            <button type="submit" onclick="alert('Login realizado!')">Fazer Login</button>

            <span>Ainda não tem uma conta? <a href="/pagina-de-cadastro">fazer cadastro</a></span>
        </form>
    </main>
</body>
</html>