<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentario</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/principal.css') }}">
</head>
<body>

    <header>
        <h1>PAGINA DE COMENTARIO MORTAL</h1>
    </header>

    <main>
    <form action="/post/mensagem" method="POST">
        <label for="nome-usuario">Insira seu nome</label>
        <input type="text" id="nome-usuario" name="nome-usuario" placeholder="digite seu nome">

        <label for="comentario">Insira um comentario</label>
        <textarea id="comentario" name="comentario" placeholder="digite seu comentario"></textarea>
        <button type="submit">Enviar</button>
    </form>

    <h2>Comentarios:</h2>

    <div class="comentario">
        {% for mensagem in mensagens %}
        <div class="nome">{{mensagem.usuario}}</div>
        <div class="data">{{mensagem.data_hora}}</div>
        <div class="texto">{{mensagem.mensagem}}</div>
    </div>

    {% endfor %}
</main>
</body>
</html>